.input {
  border: 1px solid $white;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  margin: 0px 10px 0 0;
  background-color: $white;
  background-image: none !important;
  width: 40%;
  font-weight: 12px;
  color: $medium;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}